#Config{
   
   .notificacoes{
      width: 100%;
      .escolha{
         padding: 5px 0px;
         display: flex;
         justify-content: space-between;
      }
   }
   .personalizar{
      width: 100%;
   }
   .meuCadastro{
      width: 100%;
   }
}